
body 
{
	background-color : rgb(255,255,255);
	
	.
}
.header
{
	background-color: rgb(127,177,194);
	display: flex;
}
.header h2 {
	color:white;
}

/*botões e logo */

.logo img {
    height: 30px;
    margin-right: 10px;
	color:white;
}
.nav-buttons {
    display: flex;
	margin-left:auto;
}

.nav-buttons a {
    margin: 5px;
	
}

.nav-buttons a img {
    height: 30px;
}

.nav-buttons a .button-img {
    height: 30px;
    transition: 0.3s;
}

.nav-buttons a:hover .button-img {
    /* pôr aqui a imagem do botão quando se passa com o rato */
    content: url(button_hover.png);
}

.nav-buttons a:active .button-img {
    /* pôr aqui a imagem do botão quando se clica */
    content: url(button_clicked.png);
}
//*DASHBOARD*//
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
	background-color: #f4f4f4;
}

.section {
    flex-basis: calc(50% - 10px); /* 50% width with 10px margin */
    background-color: #f4f4f4;
    padding: 20px;
}

